Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 8.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

powershell
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fix the pipeline
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

test
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

should be working now
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

hopefully final thing to do
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

bump to 1.10.1
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

this should be the final one
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

remove internals visible to public key
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

bump test to .net 8
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
Due: pipelines/dotnet.yml

remove pk specification
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

debug config
  .github/workflows/dotnet-build-test-lint.yml
  .github/workflows/dotnet-codeql.yml
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

final final one
  .github/workflows/coverage.yml
Due: none

remove strong name signgin
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

remove key
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/35MSSharedLib1024.snk
Due: pipelines/dotnet.yml

remove sn signing properties
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

remove powershell task
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

feat: rename test tool
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/launch.json
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/tasks.json
  js/samples/04.ai-apps/a.teamsChefBot/README.md
Due: pipelines/javascript.yml

feat: rename TDP
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.yml
Due: pipelines/javascript.yml

feat: rename teams toolkit
  js/samples/04.ai-apps/a.teamsChefBot/.gitignore
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/tasks.json
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.yml
Due: pipelines/javascript.yml

feat: rename yml files
  js/samples/04.ai-apps/a.teamsChefBot/m365agents.local.yml
  js/samples/04.ai-apps/a.teamsChefBot/m365agents.testtool.yml
  js/samples/04.ai-apps/a.teamsChefBot/m365agents.yml
Due: pipelines/javascript.yml

feat: update yml file name
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/m365agents.yml
Due: pipelines/javascript.yml

Fix readme url
  README.md
Due: none

feat: rename test tool yml file
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/m365agents.playground.yml
Due: pipelines/javascript.yml

Update create-application
  book/src/2.getting-started/1.create-application.md
  book/src/2.getting-started/devtools.png
  book/src/2.getting-started/running-application.png
Due: none

Add anatomy of an app
  book/src/2.getting-started/1.create-application.md
  book/src/2.getting-started/2.anatomy-of-an-app.md
  book/src/SUMMARY.md
Due: none

Check in docs twice?
  book/src/2.getting-started/README.md
  book/src/SUMMARY.md
  docs/2.getting-started/1.create-application.html
  docs/2.getting-started/2.anatomy-of-an-app.html
  docs/2.getting-started/devtools.png
  docs/2.getting-started/index.html
  docs/2.getting-started/running-application.png
  docs/3.basics/index.html
  docs/index.html
  docs/searchindex.js
  docs/toc.html
  docs/toc.js
Due: none

Seeing if this works
  assets/devtools.png
  assets/running-application.png
  book/src/2.getting-started/1.create-application.md
  book/src/2.getting-started/devtools.png
  book/src/2.getting-started/running-application.png
  docs/2.getting-started/1.create-application.html
Due: none

Update
  book/book.toml
  book/src/2.getting-started/1.create-application.md
  book/src/2.getting-started/devtools.png
  book/src/2.getting-started/running-application.png
  docs/2.getting-started/1.create-application.html
  docs/2.getting-started/devtools.png
  docs/2.getting-started/running-application.png
Due: none

Update
  book/src/2.getting-started/1.create-application.md
  docs/2.getting-started/1.create-application.html
  docs/searchindex.js
Due: none

Addres feedback
  book/src/2.getting-started/1.create-application.md
  book/src/2.getting-started/2.anatomy-of-an-app.md
  docs/2.getting-started/1.create-application.html
  docs/2.getting-started/2.anatomy-of-an-app.html
  docs/searchindex.js
Due: none

Link to devtools
  book/src/2.getting-started/2.anatomy-of-an-app.md
  docs/2.getting-started/2.anatomy-of-an-app.html
Due: none

Update
  book/src/2.getting-started/3.running-in-teams.md
  book/src/2.getting-started/example-on-teams.png
  docs/2.getting-started/3.running-in-teams.html
  docs/2.getting-started/example-on-teams.png
  docs/searchindex.js
Due: none

Add Teams Core-Concepts (#2389)
  book/src/10.teams/1.core-concepts.md
  book/src/10.teams/2.manifest.md
  book/src/10.teams/3.deployment.md
  book/src/10.teams/README.md
  book/src/10.teams/basic-concepts.png
  book/src/11.contributing/1.documentation/README.md
  book/src/11.contributing/README.md
  book/src/2.getting-started/2.anatomy-of-an-app.md
  book/src/2.getting-started/3.running-in-teams.md
  book/src/2.getting-started/example-on-teams.png
  book/src/8.ai/1.chat/1.simple.md
  book/src/SUMMARY.md
  docs/10.teams/1.core-concepts.html
  docs/10.teams/basic-concepts.png
  docs/10.teams/index.html
  docs/2.getting-started/2.anatomy-of-an-app.html
  docs/2.getting-started/3.running-in-teams.html
  docs/2.getting-started/example-on-teams.png
  docs/3.basics/10.mention.html
  docs/4.dialogs/index.html
  docs/searchindex.js
  docs/toc.html
  docs/toc.js
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
